<ul class="list-group">
  <% @user.skills.zip(@user.user_skills).each_with_index do |(s, us), i| %>
	<% @cnt = i < 6 ? "lt6" : "geq6" %>
	<li class="list-group-item user-skill-<%= @cnt %>">
	  <span>
		<%= button_tag(us.point,
					   data: {plus1: current_user.id,
							  user_skill_id: us.id,
							  url: plus1_path},
					   class: "plus1-button") %>
		<%= link_to s.name, "/skills/#{s.id}", data: {user_skill_id: us.id}, class: "skilltag" %>
		<% if current_user.id == @user.id %>
		  <%= content_tag(:span, "",
						  data: {user_skill_id: us.id,
								 user_id: @user.id,
								 url: remove_skill_path},
						  class: "glyphicon glyphicon-remove-circle remove-skill") %>
		<% end %>
		<% if i < 6 %>
		  <span class="skilltag-right"></span>
		  <% us.plus_ones.first(10).each do |po| %>
			<%= link_to image_tag(po.user.image_url(:thumb)), po.user %>
		  <% end %>
		<% end %>
	  </span>
	</li>
  <% end %>
</ul>
