<% provide(:title, "#{@user.name} プロフィール") %>
<h1><%= @user.name %></h1>
<div class="center">
  <div>
	<%= image_tag @user.image %>
  </div>
  <br/>
  <div>
	<%= @user.comment %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
	<h4>スキル・特徴
	  <%= button_tag "edit skills", class: "btn btn-xs toggle-edit-button" %>
	</h4>
	<hr/>
	<%= form_tag(add_skill_url,
				 data: {userid: @user.id},
				 remote: true,
				 class: "form-inline form-add-skill",
				 style: "display:none;") do |f| %>
	  <%= text_field_tag :skillname, "", class: "form-control col-md-6 skill-name" %>
	  <%= hidden_field_tag "skill-list", @skill_list %>
	  <%= submit_tag "submit", class: "btn btn-success skill-submit" %>
	<% end %>
	<br/>
	<div id="skill-list">
	  <%= render :partial => "skill_list" %>
	</div>
  </div>
</div>
