<% provide(:title, "#{@user.name} プロフィール") %>
<h1><%= "Profile of #{@user.name}" %></h1>
<div>
  <div>
	<%= @user.name %>
  </div>
  <div>
	<%= @user.comment %>
  </div>
  <div>
	<h4>スキル・特徴
	  <%= button_tag "edit skills", data: {toggle: "form-add-skill"}, class: "btn btn-xs" %>
	</h4>
	<hr/>
	<div id="skill-list">
	  <%= render :partial => "skill_list" %>
	</div>
	<%= form_tag(add_skill_url,
				 data: {userid: @user.id},
				 remote: true,
				 class: "form-add-skill",
				 style: "display:none;") do |f| %>
	  <%= text_field_tag :skillname, "", class: "form-control col-md-6 skill-name" %>
	  <%= submit_tag "submit", class: "btn btn-success skill-submit" %>
	<% end %>
  </div>
  <% if current_user.id == @user.id %>
	<%= link_to "edit", edit_user_path(@user), class: "btn btn-info" %>
	<%= link_to "delete", @user, method: :delete, data: {confirm: "本当に削除しますか？"},
	class: "btn btn-danger" %>
  <% end %>
  <div>
  </div>
</div>
