<% provide(:title, "#{@user.name} プロフィール") %>
<h1><%= "Profile of #{@user.name}" %></h1>
<div>
  <div>
	<%= @user.name %>
  </div>
  <div>
	<%= @user.comment %>
  </div>
  <div>
	<h4>スキル・特徴
	  <%= button_tag "edit skills", data: {toggle: "form-add-skill"}, class: "btn btn-xs" %>
	</h4>
	<hr/>
	<% @user.skills.zip(@user.user_skills).each do |s, us| %>
	  <%#= TODO: ボタンのスタイリング %>
	  <div>
		<span>
		  <%= button_tag us.point,
		  data: {plus1: current_user.id,
				 user_skill_id: us.id,
				 url: add_plus_one_path}, class: "plus-1-button" %>
		  <%= s.name %>
		</span>
	  </div>
	<% end %>
	<%= form_for(@skill,
				 url: add_skill_path,
				 remote: true,
				 html: {class: "form-add-skill", style: "display:none;"}) do |f| %>
	  <%= f.text_area :name, class: "form-control col-md-6" %>
	  <%= f.fields_for @user_skill do |s| %>
		<%= s.hidden_field :user_id, value: @user.id %>
		<%= s.hidden_field :point, value: 0  %>
	  <% end %>
	  <%= f.submit class: "btn btn-success" %>
	<% end %>
  </div>
  <% if current_user.id == @user.id %>
	<%= link_to "edit", edit_user_path(@user), class: "btn btn-info" %>
	<%= link_to "delete", @user, method: :delete, data: {confirm: "本当に削除しますか？"},
	class: "btn btn-danger" %>
  <% end %>
  <div>
  </div>
</div>
